/* Font familiy is from google fonts and is the Ubuntu familiy of fonts using sans-serif 
   via the link https://fonts.googleapis.com/css?family=Ubuntu  */
* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

html,
body {
  height: 80%;
  padding: 10;
  margin: 5;
}

/* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 130px;
  overflow: auto;
}

/* The footer is positioned at the bottom of the page */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 75px;
  background: #434649;
}

/* The code styles the text at the bottom of the footer */
.footer > .bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: #d8dfe6;
}

.navbar {
  padding: 5px;
  margin: 0;
}

/* This CSS styles the ufo icon in the navbar */
.navbar .nav-ufo {
  position: absolute;
  bottom: 5px;
  left: 150px;
  width: 35px;
  color: white;
}



/* The styles for the nasa image and animation */
.hero {
  position: relative;
  height: 300px;
  padding: 20px;
  margin: 0;
  background: black;
  background-image: url("../images/nasa.jpg");
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
}

.hero h3 {
  margin-top: 50px;
  font-size: x-small;
  color: rgba(209, 201, 201, 0.815);
  animation: title 1.2s forwards linear;
}

.hero h4 {
  animation: smaller-title 1.2s forwards linear;
  color: rgba(209, 201, 201, 0.815);
}


/* keyframe animations which will be used to animate the title */
@keyframes title {
  from {
    opacity: 0;
  }

  to {
    font-size: 5.5rem;
    opacity: 1;
  }
}

@keyframes smaller-title {
  from {
    opacity: 0;
  }

  to {
    font-size: 3.5rem;
    opacity: 1;
  }
}

@keyframes subtitle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Adding styles to the aside and filter form */
.filters {
  margin-top: 10px;
}

.filters .card-title {
  margin-top: 50px;
  text-align: center;
}

.filters .card-body {
  padding: 0;
}

.ufo-form {
  margin-top: 20px;
}

